<div class="box editbox">
    {include file="controls/errorsummary.html"}

    <form id="restorepasswordform" name="restorepasswordform" action="restorepassword.php?action=get" method="post">
        <div class="separatorline">
            <h2>{#password_restoring#}</h2>
        </div>

        <div style="float:left;width:200px;padding: 0px 0px 0px 0px;">
            <label for="email">*{#email#}</label><br/>
            <input type="text" id="email" name="email" maxlength="55" value="{$email}" class="editText"/><br/>
        </div>
        <div style="float:left;width:475px;padding: 0px 0px 0px 25px;">
        {if $configuration->enableAdvertisement}
            <img src="http://placehold.it/468x60" />
        {/if}
        </div>
        <div class="btncontainer">
            <input type="submit" value="{#send_new_password#}" class="bigbutton"/>
        </div>
    </form>
</div>
{include file="controls/markerrorfields.html"}